<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1> Documentatie</h1>
    <hr>

    <p> This is a paragraph</p>
    <h2>subtitle1</h2>
    <h3>subtitle2</h3>
    <p>There are steps for a full CI/CD pipeline with:
        - GitHub -> where we save the code for the app
        - Jenkins-> CI tool with Jenkinsfile which are in the root of the project
        - The build was made using Gradle
        - Azure
    <p>
</body>

</html>